<section class="abr-newsletter">
    <h4 class="abr-heading-helper">Sign up for our Newsletter!</h4>
    <form action="http://afrobananarepublic.us5.list-manage2.com/subscribe/post?u=f58ce58e822a97a9cbfcef2e2&amp;id=79ef686f01" method="post" target="_blank" class="abr-newsletter-signup">
        <p class="input-group">
            <input type="email" value="" name="EMAIL" placeholder="Your email address" required>
            <input type="submit" value="Join our Republic!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
        </p>
        <p class="abr-helper-text">
            We send newsletters <strong>infrequently</strong>, about once per couple of months. <br>
            We will also keep your e-mail to ourselves and won't share it with anyone, ever.
        </p>
    </form>
</section>
