<section class="abr-page-about">
    <p><strong>The Afro Banana Republic</strong> is a non-profit organisation composed of artists from various fields who set out to develop the Cypriot creative alternative scene. By encouraging collaborations between different fields we aim to explore the potential of home grown talent. By providing a platform for these artists to produce and present their work, we allow for them to promote their art and themselves in Cyprus and the rest of the world.</p>

    <p><strong>We are a team</strong> of young freelance professionals. Our team consists of architects, graphic designers, film producers, photographers, music producers, fashion designers, set designers, event organisers, programmers, sculptors, and chefs.</p>

    <p><strong>We believe</strong> in stimulating a greater understanding of the alternative scene amongst Cypriots by establishing a relationship with networks of artists abroad. As part of our exchange system we showcase the Cypriot creative scene throughout Europe and this raises the standards of expected output by Cypriot artists.</p>

    <p><strong>We support</strong> and encourage home grown talent. We promote young artists whilst ensuring that a high level of professionalism and quality is present throughout.</p>

    <p><strong>We aim </strong>to put Cyprus on the creative map of Europe, by developing an internationally recognized, alternative, creative scene. Bringing artists from Cyprus and abroad together to collaborate on projects, will allow them to display their creative abilities as well as the intricacies of modern Cypriot culture through their work.</p>

    <p>For bookings and general information <strong><a href="mailto:marthag@afrobananarepublic.com">send Martha an e-mail</a></strong>.</p>
</section>
