<div class="abr-post-preview">
    <h3 class="abr-heading"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
    <div class="abr-post-meta">
        {% if post.image %}
        <div class="abr-post-image">
            <a href="{{ post.url }}" title="{{ post.title }}"><img src="{{ site.url }}/static/images/{{ post.image }}.preview.jpg" alt="{{ post.title }}"></a>
        </div>
        {% endif %}
        <div class="abr-post-date">{{ post.date | date_to_string }}</div>
        <div class="abr-post-tags">{{ page.tags }}</div>
    </div>
    <div class="abr-post-excerpt"><p>{{ post.excerpt }}</p></div>
</div>
